# Game resolution
resolution: 1280x720

# Toggle fullscreen (also possible with F key in game)
fullscreen: false

# Currently only controlls whether Q key quits game
debug: false

# Initial ball speed (float64 value of pixels per frame)
ballSpeed: 5

# Ball acceleration on paddle collision (float64 value of factor)
ballAcceleration: 1.1

# Network interfaces to accept other players on
listenInterfaces:
  - wlp2s0
